<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-50 dark:bg-gray-950">
  <head>
    <title>Brocade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/favicon' -%>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-mutate-approach="sync"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-full">
    <%= render 'google_analytics' %>
    <div class="relative overflow-hidden bg-gray-50 dark:bg-gray-950">
      <div class="relative pt-6 pb-16 sm:pb-24">
        <%= render 'layouts/navbar' %>
        <%# NOTE: required by Devise - needs rework %>
        <%- if notice %>
          <p class="notice"><%= notice %></p>
        <%- end -%>
        <%- if alert %>
          <p class="alert m-4 p-1 bg-red-100"><%= alert %></p>
        <%- end -%>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
